/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color : #262B40;
    --text-color : #fff;
    --main-color : #59B2F4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}