/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    ;
    --snd-bg-color: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
    --text-color: #fff;
    --main-color: #59B2F4;
    --yellow-color: rgb(248, 203, 116)
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}